# 0.0 Data Collect

In [1]:
import pandas as pd
import psycopg2

In [ ]:
host = 
database = 
port = 
user = 
pasword =

In [2]:
# conect with database
def conect_db():
  con = psycopg2.connect(host=host, 
                         database=database,
                         port = port,
                         user=user, 
                         password=password)
  return con

# Função para consultas no banco
def consultar_db(sql):
  con = conect_db()
  cursor = con.cursor()
  cursor.execute(sql)
  records = cursor.fetchall()
  cursor.close()
  con.close()
  return records

# 1.0 Schema Query

In [20]:
query_schema = """
SELECT nspname 
FROM  pg_catalog.pg_namespace
"""

In [21]:
consultar_db(query_schema)

[('pg_toast',),
 ('pg_temp_1',),
 ('pg_toast_temp_1',),
 ('pg_catalog',),
 ('information_schema',),
 ('public',),
 ('pa004',)]

# 2.0 Table Query

In [23]:
query_tables = """
    SELECT tablename
    FROM  pg_tables
    WHERE schemaname = 'pa004'
"""

In [24]:
consultar_db(query_tables)

[('users',), ('vehicle',), ('insurance',)]

# 3.0 Collect Data using Pandas

In [26]:
query_tables_all = """
    SELECT *
    FROM  pa004.users u LEFT JOIN pa004.vehicle v ON (u.id = v.id)
                        LEFT JOIN pa004.insurance i ON (u.id = i.id)
"""

In [31]:
con = conect_db()
cursor = con.cursor()

In [32]:
df_raw = pd.read_sql(query_tables_all, con)

In [36]:
df_raw.head()

,id,gender,age,region_code,policy_sales_channel,id,driving_license,vehicle_age,vehicle_damage,id,previously_insured,annual_premium,vintage,response
0,7,Male,23,11.0,152.0,7,1,< 1 Year,Yes,7,0,23367.0,249,0
1,13,Female,41,15.0,14.0,13,1,1-2 Year,No,13,1,31409.0,221,0
2,18,Female,25,35.0,152.0,18,1,< 1 Year,No,18,1,46622.0,299,0
3,31,Female,26,8.0,160.0,31,1,< 1 Year,No,31,0,2630.0,136,0
4,39,Male,45,8.0,124.0,39,1,1-2 Year,Yes,39,0,42297.0,264,0

In [37]:
df_raw.to_csv('data/insurance_cross_sell.csv', index=False)

In [38]:
cursor.close()
con.close()